/* App.css */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.app {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.9px;
  color: white;

}

.rightSideNav {
  width: 50%;
  display: flex;
}

.search {
  width: 70%;
  margin: 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-radius: 3rem;
  background: #a7eef1;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  width: 65%;
  border: none;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding: .5rem;
  outline: none;
  color: rgb(16, 14, 14);
  background: transparent;
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.favoriteBtn {
  width: 35%;
  margin: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: #db2323;
  color: white;
  border-radius: 10px;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 22rem;
  height: 500px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  background-color: aliceblue;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movieDetails {
  width: 60rem;
  height: 440px;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background-color: aliceblue;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.movieImg {
  width: 100%;
  height: 75%;
}
.movieImg img {
  width: 100%;
  height: 100%;
}
.movieType {
  width: 100%;
  height: 25%;
  padding: 10px;
}
.movieTypeDetails{
  
  width: 60%;
  margin-top: 2rem;
  margin-left: 2rem;

  

}
.movieTypeDetails span{
  color: grey;
}
.movieImgDetails{
  width: 24rem;
  height: 440;

}
.movieImgDetails img{
  width: 100%;
  height: 100%;


}

.emojiIcon {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 1rem;
  cursor: pointer;
  width:8rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  background: #db2323;
  color: white;
  border-radius: 8px;
}

.emojiIcon2 {
  display: block;
  position: absolute;
  bottom: 10px;
  left:1rem ;
  width: 8rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  background: blue;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  padding-top: 5px;
 
}


/* .movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    color: #f9d3b4;
  } */


/* Favorites page*/
.rightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightSide .backHomePage {
  margin: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: #9d901d;
  color: white;
  border-radius: 10px;
}
/* .movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }

  .movie div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
  }

  .movie div:nth-of-type(3) {
    z-index: 2;
    background-color: #343739;
    padding: 16px 24px 24px 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .movie div:nth-of-type(3) span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
  }

  .movie div:nth-of-type(3) h3 {
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    color: #f9d3b4;
  }

  .movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
  }

  .movie:hover div:nth-of-type(3) {
    background-color: transparent;
  }

  .movie:hover div:nth-of-type(1) {
    opacity: 1;
  } */

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}